@using Ziggy.Models
@{
    ViewBag.Title = "Toys";
}
@model Toys
<div class="row">
    <div class="col-xs-8">
        <h2 style="text-align:center;">@ViewBag.Title</h2>
    </div>
</div>
@try
{
    if (Session["ScreenName"].ToString() == "SantaTheBest" || Session["ScreenName"].ToString() == "FabulousZiggy")
    {
        <table class="table table-hover table-striped">
            <thead style="background:black; color:white;">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            @foreach (var toy in Model.EntityList)
            {
                <tr>
                    <td>@toy.Name</td>
                    <td>@toy.Cost</td>
                    <td>@toy.Amount</td>
                </tr>
            }
        </table>
    }
}catch(NullReferenceException e)
{
    <h1>you are not autorizated to see these contents</h1>
}